<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.springsession.dao.UserThoughtMapper" >
  <resultMap id="BaseResultMap" type="com.wind.springsession.model.UserThought" >
    <id column="thought_id" property="thoughtId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wind.springsession.model.UserThought" extends="BaseResultMap" >
    <result column="thought_content" property="thoughtContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    thought_id, user_id, create_time, update_time, status
  </sql>
  <sql id="Blob_Column_List" >
    thought_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_thought
    where thought_id = #{thoughtId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_thought
    where thought_id = #{thoughtId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wind.springsession.model.UserThought" >
    <selectKey resultType="java.lang.Integer" keyProperty="thoughtId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_thought (user_id, create_time, update_time, 
      status, thought_content)
    values (#{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{thoughtContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wind.springsession.model.UserThought" >
    <selectKey resultType="java.lang.Integer" keyProperty="thoughtId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_thought
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="thoughtContent != null" >
        thought_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="thoughtContent != null" >
        #{thoughtContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wind.springsession.model.UserThought" >
    update user_thought
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="thoughtContent != null" >
        thought_content = #{thoughtContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where thought_id = #{thoughtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wind.springsession.model.UserThought" >
    update user_thought
    set user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      thought_content = #{thoughtContent,jdbcType=LONGVARCHAR}
    where thought_id = #{thoughtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wind.springsession.model.UserThought" >
    update user_thought
    set user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where thought_id = #{thoughtId,jdbcType=INTEGER}
  </update>
</mapper>